* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #e5e5fd;
  min-height: 99vh;
  border: 3px solid red;
}
.content {
  width: 900px;
  margin: 0 auto;
}
.image-container,
img {
  width: 300px;
  height: 320px;
}
.image-container {
  border-radius: 50%;
  overflow: hidden;
}

.top-section {
  margin-top: 100px;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top-section h1 {
  font-size: 40px;
  font-weight: bold;
}
.top-section h4 {
  text-align: end;
  font-size: 25px;
}
/* ------c2------- */
.mid-section {
  /* border: 2px solid blue; */
}
.c2 h1 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.c2 p {
  line-height: 20px;
  letter-spacing: 1.2px;
  text-align: justify;
}
.biography {
  margin-top: 30px;
  /* border: 2px solid yellow; */
}
.biography h2 {
  margin-bottom: 20px;
}
.biography ul {
  margin-left: 50px;
}
.biography li {
  margin-bottom: 15px;
}
footer {
  margin: 50px 0;
  text-align: right;
}
